.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .form {
    margin: 40px 0 10px;
  }
  
  .form_input {
    outline: none;
    border: 0;
    border-bottom: 1px dotted #666;
    border-radius: 0;
    padding: 0 0 5px 0;
    width: 90%;
    height: 50px;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    float:left;
    background: transparent;
    -webkit-font-smoothing: antialiased;
  }

  .add_button {
    float:auto;
    width:10%;
    height: 50px;
  }
  
  @media (min-width: 33.75em) {
    .form {
      margin: 80px 0 20px;
    }
    .form_input {
      height: 61px;
      font-size: 2rem;
    }
  }